/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}


body {
    font-size: 16px;/* 1rem = 10px */
    font-family: 'Kollektif', sans-serif;
    color: #fff;
    background-color: #333;
}

#grilla{
    width: 100vw;
    height: 100vw;
    display:grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 13% 19% 60% 8%;
    grid-template-areas:
    "header header header"
    "main main main"
    "ropa ropa ropa"
    "footer footer footer";
    column-gap: 3px;
    row-gap: 3px;
}

/* HEADER */

header{
    grid-area: header;
    padding: 30px;
    display: flex;
}
.contenedor{
    width: 95%;
    height: 100px;
    max-width: 2000px;
    margin: auto;
    overflow:hidden;
    margin-right: 20px;
    margin-left: 18px;
}

.menu-navegacion{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: #634e42;
}

.logo{
    width: 300px; 
    height: 200px;
}

.logo img{
    display: flex;
    height: 100%;
}
.enlaces li{
    list-style: none;
    display: inline-block;
}
.enlaces a{
    text-decoration: none;
    color: white;
    padding-right: 8px;
}

.flexsearch{
    align-items: center;
}


/* MAIN */

main{
    grid-area: main;
    height: 1000px;
}
.contenedor-main{
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    position:static;
    height: 1000px;
    justify-content: center;
}
td{
    font-size: 35px;
    vertical-align: center;
    text-align: center;
}
.ropa{
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ropa img{
    border-radius: 20px;
}

.article{text-justify: distribute;}


html{
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 18px;
}

/* CATALOGO */
.Catalogo{
width: 100%;
height: 900px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.titulo{
width: 100%;
text-align: center;
font-weight: bold;
margin: 30px;
font-size: 3rem;

}

.caja img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
.caja{
    margin: 15px;
}

.caja p{
    text-align: center;
    font-size: 1.5rem;
    font-weight:400;
}

/* TIPOGRAFIAS */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    color: #fff;
}

h3 {
    font-size: 1.3rem;
}

h1,h2,h3 {
    text-align: center;
}

/*FOOTER*/
footer{
    align-items: flex-end;
    grid-area: footer;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: auto;
}