/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  /* Establecer los estilos base para el cuerpo */
  body {
    font-size: 1.6rem; /* 1rem = 16px */
    font-family: 'Kollektif', sans-serif;
    color: #fff;
    background-color: #333;
    margin: 0;
  }
  
  /* Establecer una regla para los contenedores que se usan en el diseño */
  .contenedor {
    width: 95%;
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
  }
  
  /* Establecer una regla para las imágenes del catálogo */
  .Catalogo .caja img {
    max-width: 100%;
    height: auto;
  }
  
  /* Establecer una regla para los encabezados */
  h1,
  h2,
  h3 {
    margin: 0;
    text-align: center;
  }
  
  h1 {
    font-size: 3.8rem;
  }
  
  h2 {
    font-size: 2.8rem;
    color: #fff;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  /* Establecer una regla para el contenedor principal */
  #grilla {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* Usar auto-fit y minmax para que el número de columnas cambie según el ancho de la pantalla */
    grid-template-rows: 13% 19% 60% 8%;
    grid-template-areas:
      "header header header"
      "main main main"
      "ropa ropa ropa"
      "footer footer footer";
    gap: 3px;
    margin: 1.6rem; /* Usar unidades relativas para el margen */
  }
  
  /* Establecer una regla para el encabezado */
  header {
    grid-area: header;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #634e42;
  }
  
  /* Establecer una regla para la navegación */
  .enlaces {
    display: flex;
    align-items: center;
  }
  
  .enlaces li {
    list-style: none;
  }
  
  .enlaces a {
    text-decoration: none;
    color: white;
    padding-right: 0.8rem;
  }
  
  /* Establecer una regla para la búsqueda */
  .flexsearch {
    display: flex;
    align-items: center;
  }
  
  /* Establecer una regla para el contenido principal */
  main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contenedor-main {
    max-width: 120rem;
    margin: 0 auto;
  }
  
  td {
    font-size: 3.5rem;
    text-align: center;
  }
  
  .ropa {
    width: 100%;
    height: 900px;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}
.ropa img{
    border-radius: 20px;
}

.article{text-justify: distribute;}


html{
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 25px;
    margin-left: 18px;
}

/* CATALOGO */
.Catalogo{
width: 100%;
height: 900px;
display: flex;
flex-wrap: wrap;
justify-content: center;

}
.titulo{
width: 100%;
text-align: center;
font-weight: bold;
margin: 30px;
font-size: 3rem;

}

.caja img{
    width: 400px;
    height: 500px;
    border-radius: 20px;
}
.caja{
    margin: 15px;
}

.caja p{
    text-align: center;
    font-size: 1.5rem;
    font-weight:400;
}

/* TIPOGRAFIAS */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    color: #fff;
}

h3 {
    font-size: 1.3rem;
}

h1,h2,h3 {
    text-align: center;
}

/*FOOTER*/
footer{
    align-items: flex-end;
    grid-area: footer;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: auto;

}